@charset "UTF-8";

/* Fonts */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(http://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(http://fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(http://fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(http://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

/* Document */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
  background: #FAFAFA;
  color: #424242;
  font-family: 'Roboto', Arial, Verdana, Helvetica;
  font-size: 16px;
  line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #212121;
	font-weight: 400;
	line-height: 1.3;
}

/* Header Styles */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* Typography */
.subheading {
  font-size: 16px;
}

.caption {
  color: #757575;
  font-size: 0.75em;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

sup, sub {
  font-size: 0.75em;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  top: 0.5em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:focus, a:hover {
  color: #212121;
}

p {
  padding: 0 0 16px;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table-responsive {
  overflow-x: auto;
}

.table-responsive .table {
  min-width: 512px;
}

/* Floating */
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clr {
  clear: both;
}

/* Template */

header {
  height: 256px;
  position: relative;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

header .dots {
  background-image: -webkit-radial-gradient(rgba(255,255,255,0.25) 1px, transparent 1px),
                    -webkit-radial-gradient(rgba(255,255,255,0.25) 1px, transparent 1px);
  background-image: -moz-radial-gradient(rgba(255,255,255,0.25) 1px, transparent 1px),
                    -moz-radial-gradient(rgba(255,255,255,0.25) 1px, transparent 1px);
  background-image: -o-radial-gradient(rgba(255,255,255,0.25) 1px, transparent 1px),
                    -o-radial-gradient(rgba(255,255,255,0.25) 1px, transparent 1px);
  background-image: radial-gradient(rgba(255,255,255,0.25) 1px, transparent 1px),
                    radial-gradient(rgba(255,255,255,0.25) 1px, transparent 1px);
  background-position: 0 0, 10px 10px;
  background-size:     20px 20px;
  height:              100%;
  position:            absolute;
  width:               100%;
  z-index: 1;
  top: 0;
  left: 0;
}

header.lebenslauf {
  background-image: -webkit-linear-gradient(315deg,#6A0D91, #B57EDC);
  background-image: -moz-linear-gradient(315deg,#6A0D91, #B57EDC);
  background-image: -o-linear-gradient(315deg,#6A0D91, #B57EDC);
  background-image: linear-gradient(315deg,#6A0D91, #B57EDC);
}

header.bildungsweg {
  background-image: -webkit-linear-gradient(315deg,#2e7d32,#C3E956);
  background-image: -moz-linear-gradient(315deg,#2e7d32,#C3E956);
  background-image: -o-linear-gradient(315deg,#2e7d32,#C3E956);
  background-image: linear-gradient(315deg,#2e7d32,#C3E956);
}

header.berufserfahrung {
  background-image: -webkit-linear-gradient(315deg,#4682B4,#ADD8E6);
  background-image: -moz-linear-gradient(315deg,#4682B4,#ADD8E6);
  background-image: -o-linear-gradient(315deg,#4682B4,#ADD8E6);
  background-image: linear-gradient(315deg,#4682B4,#ADD8E6);
}

header.kontaktdaten {
  background-image: -webkit-linear-gradient(315deg,#D32F2F,#F57C7C);
  background-image: -moz-linear-gradient(315deg,#D32F2F,#F57C7C);
  background-image: -o-linear-gradient(315deg,#D32F2F,#F57C7C);
  background-image: linear-gradient(315deg,#D32F2F,#F57C7C);
}

#tabtitle {
  color: #FFF;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 2px #000;
  height: 192px;
  z-index: 2;
}

header > nav {
  max-width: 1280px;
  margin: 0 auto;
}

header > nav > ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 64px;
  z-index: 2;
  position: relative;
}

.tablink {
  flex-grow: 1;
  transition: all 0.2s ease;
}

.tablink:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.tablink a {
  display: block;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease;
}

body[data-tab=lebenslauf] .tablink.lebenslauf {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.25));
}

body[data-tab=lebenslauf] .tablink a{
  color: rgba(255, 255, 255, 0.75);
}

body[data-tab=bildungsweg] .tablink.bildungsweg {
  background-color: transparent;
}

body[data-tab=berufserfahrung] .tablink.berufserfahrung {
  background-color: transparent;
}

body[data-tab=kontaktdaten] .tablink.kontaktdaten {
  background-color: transparent;
}

main {
  max-width: 1280px;
  background: #FFF;
  margin: 4em auto 0;
  padding: 32px 16px;
  position: relative;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 24px;
}

/* Lebenslauf */
section {
  padding-bottom: 3rem;
  font-size: 1.25rem;
}

section h2 {
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
  padding: 0 16px 4px;
}

section h3 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  padding: 0 16px 4px;
}

body[data-tab=lebenslauf] section h2,
body[data-tab=lebenslauf] section h3 {
  border-bottom: 1px dashed #6A0D91;
}

body[data-tab=bildungsweg] section h3 {
  border-bottom: 1px dashed #2e7d32;
}

body[data-tab=berufserfahrung] section h3 {
  border-bottom: 1px dashed #4682B4;
}

body[data-tab=kontaktdaten] section h3 {
  border-bottom: 1px dashed #D32F2F;
}

section .sectioncontent {
  padding: 0 16px;
}

table tr > td:first-child {
   width: 300px;
 }

.bewerbungsbild {
  border-radius: 8px;
}

.img-wrapper {
  padding: 16px;
  background-color: #ffffff;
  top: 0px;
  right: 0px;
  position: absolute;
  max-width: 320px;
  max-height: 100%;
}

.img-wrapper a {
  display: block;
}

.img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.bewerbungsbild-img {
  width: calc(100% - 200px)
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Fußzeile */
footer {
  padding: 32px 0 8px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.9rem;
  text-align: center;
}
